<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guischpor.chat_flutter">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>

keytool -list -v -keystore "C:\Users\guisc\.android\debug.keystore" -alias androiddebugkey -storepass android -keypass android